
#TagScreen {
    width: 100vw;
    height: calc(100vh - 4rem);
    padding: 1rem;
    overflow: auto;

    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1.75rem;
        margin-bottom: 0.5em;
    }

    #tagSearch {
        padding: 0.5em;
    }

    #tagContainer {
        display: flex;
        margin: 1rem 0 0 0;

        flex-direction: column;
        flex: 1;

        button {
            padding: 0.25em 0.5em;
            text-align: left;

            font-size: 1.2rem;

            background: #eee;
            border: 2px solid #ccc;
            border-radius: 1rem;
            

            &:after {
                content: "+";
                float: right;
            }
        }
    }

}
