#food-search {
    background: #FFF;
    border: none;
    border-bottom: 1px solid #CCC;
    padding: 0.5em;
    width: 90%;
    max-width: 400px;
    margin-bottom: 2rem;
    transition: all 0.1s linear;
}
#food-search:focus {
    background: #F5F5F5;
    outline: none;
    border-bottom: 2px solid #CCC;
    transition: all 0.1s linear;
}

.card {
    background: #EEE;
    width: 90%;
    max-width: 400px;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.card__image {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    height: 8rem;
    object-fit: cover;
}
.card__content {
    width: 100%;
    padding: 0.5rem;
}

.card__content > h3 {
    font-size: 1.35rem;
}

.card__content > p {
    font-size: 1.15rem;
}

.card__tag-container {
    width: 100%;
    padding-top: 1em;
}

.card__tag {
    display: inline-block;
    font-size: 0.75rem;
    margin: 0.1em;
    padding: 0.25em;

    background-color: rgba(127, 127, 127, 0.6);
    border: 1px solid rgb(127, 127, 127);

    border-radius: 1rem;
}

.card__tag--red {
    background-color: rgba(200, 0, 50, 0.6);
    border-color: rgb(200, 0, 50);
}

.card__tag--green {
    background-color: rgba(30, 200, 50, 0.6);
    border-color: rgb(30, 200, 50);
}