* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-size: 1rem;
}

body {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background: #2E9D50;

    width: 3.5rem;
    height: 100vh;
}

#back {
    font-size: inherit;
    border: none;
    outline: none;
    background: transparent;
}

.menu {
    flex: 1;

    height: 100vh;
    padding: 1rem;

    overflow: auto;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.325rem;
}

label.input-label {
    display: block;
    letter-spacing: 0.05em;

    font-size: 0.9rem;
    margin-top: 1em;
}

input.input-field {
    background: #EEE;
    padding: 0.5em;
    width: 13rem;
    height: 2.75em;

    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0.2rem 0.2rem 0 0;
}
input.input-field:focus {
    outline: none;
    border-bottom: 2px solid gray;
}

.btn {
    font-weight: 600;
    display: block;
    background: #CCC;

    padding: 0.5em 1em;
    margin: 1em 0;

    outline: none;
    border: none;
    border-radius: 0.2rem;
}

.btn--important {
    font-weight: 700;
    background: #000;
    color: #FFF;
}

.btn--warning {
    font-weight: 700;
    background: #F00;
    color: #FFF;
}

.btn:active {
    opacity: 0.8;
}

.btn:hover {
    cursor: pointer;
}