
<div id="CardViewer">

    <div id="card">

        <img src="{{imageSrc}}" alt="{{imageAlt}}">

        <div>

            <h3>{{cardTitle}}</h3>

            <p>{{cardDescription}}</p>

            <table>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Kalorier</td>
                    <td>5 millioner</td>
                </tr>
                <tr>
                    <td>Chance for kræft</td>
                    <td>Nok ret høj</td>
                </tr>
            </table>

        </div>

    </div>

</div>
